{% extends 'base.html' %}
{% block content %}

<style>

    #div2 {
      
      position: relative;
      animation-name: example1;
      animation-duration: 2s;  
      animation-fill-mode: forwards;
    }
    @keyframes example1 {
      from {top:100px;}
      to {top: 30px; color: rgb(199, 197, 197);}
      
    }
    
    
    </style>
    
    <div style="background-image: url(https://cdn.pixabay.com/photo/2014/07/08/12/34/pizza-386717_640.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;height: 550px;">
      <div style="background-color: rgba(58, 58, 57, 0.37);height: 550px;">
          <div class="row ">
              <div class="col-sm-12 col-md-4 col-lg-4">
          
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                  <div id="div2">
                      <h1 style="font-family: cursive;color: rgb(247, 244, 244);text-align: center;margin-top: 30%;font-size: 500%;">Menu </h1>
                      <h5 style="color: white;text-align: center;">Home > Menu  ></h5>
    
                  </div>
        
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4"></div>
            </div>
          
      </div>
    
    </div>





    <div style="background-image: url(https://cdn.pixabay.com/photo/2020/03/21/02/50/pizza-4952534_1280.jpg);background-repeat: no-repeat;background-size:100% 100%;padding-bottom: 15%;padding-top: 2%;">
        <div class="row pt-3 mb-5">
            <div class="col-sm-12 col-md-4 col-lg-4"></div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <center>
                        <button  class="btn btn-outline-light " onclick="fieldset1_function()"><b>Breakfast</b></button>
                        <button class="btn btn-outline-light " onclick="fieldset2_function()"><b>Lunch</b></button>
    
                        <a href="" class="btn btn-outline-light"><b>Dinner</b></a>
    
                        <a href="" class="btn btn-outline-light"><b>Deserts</b></a>
    
                </center>
    
    
    
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4"></div>
        </div>
        <fieldset1 id="field1">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/912629972/photo/chicken-kebab-with-bell-pepper.jpg?s=170667a&w=0&k=20&c=P1EDrROfJO9xZbI9_LSnkc1c7WvSBKm62saQ4uYPVYU=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Malayi Koffta</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="{% url 'menu_detail' %}" class="btn btn-dark">VIEW</a>
    
                            </center>
                         </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/684070860/photo/vegetable-spring-rolls.jpg?s=170667a&w=0&k=20&c=Fr9Cu1TS3P_Z5T-1k1nZ4-IUFlQl_reYIEIGCEwv9mc=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Malayi Koffta</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                              <a href="{% url 'menu_detail' %}" class="btn btn-dark">VIEW</a>
    
                            </center>                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1cCArIdY1TK_AA7QcBR0v-xFe8ZwAQVKc5uoONhGk1b-q44IGvRKABroBaxncId8GCdQ&usqp=CAU" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Malayi Koffta</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                              <a href="{% url 'menu_detail' %}" class="btn btn-dark">VIEW</a>
    
                            </center>                       
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/667267220/photo/indian-vegetarian-food-dhokla-gujrati-khaman-dhokla-over-green-mat.jpg?b=1&s=612x612&w=0&k=20&c=np9-fKJhqWkl_8P_VFD8SesjKtkbEh8UT9BZfEv6AXs=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Malayi Koffta</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                              <a href="{% url 'menu_detail' %}" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1808/indianfoodimages180800153/106541218-idly-sambar-or-idli-with-sambhar-and-green-red-chutney-popular-south-indian-breakfast.jpg?ver=6" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Malayi Koffta</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                              <a href="{% url 'menu_detail' %}" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://c4.wallpaperflare.com/wallpaper/816/895/618/cuisine-food-india-indian-wallpaper-preview.jpg" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Malayi Koffta</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                              <a href="{% url 'menu_detail' %}" class="btn btn-dark">VIEW</a>
    
                            </center>                        </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://www.shutterstock.com/image-photo/pomfret-fish-fry-deeply-fried-260nw-1436648285.jpg" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Malayi Koffta</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                              <a href="{% url 'menu_detail' %}" class="btn btn-dark">VIEW</a>
    
                            </center>                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://t3.ftcdn.net/jpg/04/47/89/64/360_F_447896480_79UBRfPRRiUSPVNq6njjzt4yf0bqyUJ7.jpg" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Malayi Koffta</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                              <a href="{% url 'menu_detail' %}" class="btn btn-dark">VIEW</a>
    
                            </center>                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1190989216/photo/penne-pasta-with-white-sauce-and-truffle-italian-food.jpg?s=170667a&w=0&k=20&c=t9BJdk5NQm_SR9MLHMySu4sqx_PQU0g0clJdW5yRLs8=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Malayi Koffta</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                              <a href="{% url 'menu_detail' %}" class="btn btn-dark">VIEW</a>
    
                            </center>                 
                       </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </fieldset1>

        <fieldset2 style="display: none;" id="field2">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1311405017/photo/moroccan-fish-with-chermoula-red-peppers-and-preserved-lemon.webp?b=1&s=170667a&w=0&k=20&c=FR6G4MVUE7p46fugy33tM0IasLLLzxC9n0FBYHuZkPk=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Tortilla</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1311405017/photo/moroccan-fish-with-chermoula-red-peppers-and-preserved-lemon.webp?b=1&s=170667a&w=0&k=20&c=FR6G4MVUE7p46fugy33tM0IasLLLzxC9n0FBYHuZkPk=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Tortilla</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1311405017/photo/moroccan-fish-with-chermoula-red-peppers-and-preserved-lemon.webp?b=1&s=170667a&w=0&k=20&c=FR6G4MVUE7p46fugy33tM0IasLLLzxC9n0FBYHuZkPk=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Tortilla</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1311405017/photo/moroccan-fish-with-chermoula-red-peppers-and-preserved-lemon.webp?b=1&s=170667a&w=0&k=20&c=FR6G4MVUE7p46fugy33tM0IasLLLzxC9n0FBYHuZkPk=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Tortilla</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1311405017/photo/moroccan-fish-with-chermoula-red-peppers-and-preserved-lemon.webp?b=1&s=170667a&w=0&k=20&c=FR6G4MVUE7p46fugy33tM0IasLLLzxC9n0FBYHuZkPk=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Tortilla</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1311405017/photo/moroccan-fish-with-chermoula-red-peppers-and-preserved-lemon.webp?b=1&s=170667a&w=0&k=20&c=FR6G4MVUE7p46fugy33tM0IasLLLzxC9n0FBYHuZkPk=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Tortilla</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1311405017/photo/moroccan-fish-with-chermoula-red-peppers-and-preserved-lemon.webp?b=1&s=170667a&w=0&k=20&c=FR6G4MVUE7p46fugy33tM0IasLLLzxC9n0FBYHuZkPk=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Tortilla</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1311405017/photo/moroccan-fish-with-chermoula-red-peppers-and-preserved-lemon.webp?b=1&s=170667a&w=0&k=20&c=FR6G4MVUE7p46fugy33tM0IasLLLzxC9n0FBYHuZkPk=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Tortilla</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 ps-4 pe-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-6">
                            <img src="https://media.istockphoto.com/id/1311405017/photo/moroccan-fish-with-chermoula-red-peppers-and-preserved-lemon.webp?b=1&s=170667a&w=0&k=20&c=FR6G4MVUE7p46fugy33tM0IasLLLzxC9n0FBYHuZkPk=" class="img-fluid rounded-start w-100" alt="..." style="height: 100%;">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title" style="font-family: cursive;">Tortilla</h5>
    
                                </center>         
                              <center>                  
                                        <h5 style="color: rgb(221, 189, 5);">$50</h5>
                              </center>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
                            <center>
                                <a href="" class="btn btn-dark">VIEW</a>
    
                            </center>                        
                        </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </fieldset2>
        
    </div>
    


    <script>
        
         function fieldset1_function(){
            document.getElementById('field2').style.display="none";
            document.getElementById('field1').style.display="block";

         }
         function fieldset2_function(){
            document.getElementById('field1').style.display="none";
            document.getElementById('field2').style.display="block";

         }
   
     </script> 


{% endblock %}