{% extends 'base1.html' %}
{% block content %}
{% include 'payment_opt.html' %}

<style>

    #div2 {
      
      position: relative;
      animation-name: example1;
      animation-duration: 2s;  
      animation-fill-mode: forwards;
    }
    @keyframes example1 {
      from {top:100px;}
      to {top: 30px; color: rgb(199, 197, 197);}
      
    }



    /* .........................    scroll gallery   */


    div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}





    
    </style>

<div style="background-image: url(https://cdn.pixabay.com/photo/2014/07/08/12/34/pizza-386717_640.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;height: 550px;">
    <div style="background-color: rgba(58, 58, 57, 0.37);height: 550px;">
        <div class="row ">
            <div class="col-sm-12 col-md-4 col-lg-4">
        
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div id="div2">
                    <h1 style="font-family: cursive;color: rgb(247, 244, 244);text-align: center;margin-top: 30%;font-size: 500%;">Services </h1>
                    <h5 style="color: white;text-align: center;">Home > Services  ></h5>
  
                </div>
      
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4"></div>
          </div>
        
    </div>
  
  </div>

<div style="background-image: url(https://cdn.pixabay.com/photo/2020/03/25/21/05/pizza-4968645_1280.jpg);background-repeat: no-repeat;background-size: cover;padding-bottom: 15%;">
    <div class="row pt-5">
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <center>
                <h1 style="color: rgb(214, 183, 4);font-family: cursive;">BIRTHDAY CELEBRATION</h1>

            </center>
            <div class="p-3 mt-4" style="width: 100%;background-color: rgba(54, 54, 54, 0.5);color: white;">
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia 
                    suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio 
                    laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et.
                     Dolore perferendis, enim praesentium omnis, 
                    iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
                </p>
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia 
                    suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio 
                    laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et.
                     Dolore perferendis, enim praesentium omnis, 
                    iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
                </p>

            </div>
            <div  style="width: 100%;height: 400px;">
                <img src="https://images.crowdspring.com/blog/wp-content/uploads/2019/12/27125554/blur-breakfast-chef-cooking-262978.jpg" alt="" style="height: 100%;width: 100%;">

            </div>
            <div class="ps-3 pe-3 pb-3 ps-3 pt-4" style="width: 100%;background-color: rgba(29, 29, 29, 0.603);color: white;">
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia 
                    suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio 
                    laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et.
                     Dolore perferendis, enim praesentium omnis, 
                    iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
                </p>
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia 
                    suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio 
                    laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et.
                     Dolore perferendis, enim praesentium omnis, 
                    iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
                </p>

            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2"></div>

    </div>
</div>

<div style="background-image: url(https://c4.wallpaperflare.com/wallpaper/545/786/565/pizza-4k-image-wallpaper-preview.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;height: 500px;background-size:100% 100%;">
    <div class="row pt-4">
        <div class="col-sm-12 col-md-3 col-lg-3 "></div>
        <div class="col-sm-12 col-md-6 col-lg-6 ps-4 pe-4 ">
            
            <div class="p-4 mt-3" style="background-color: rgba(27, 27, 27, 0.534);">
                <center>
                    <h1 style="color: rgb(223, 190, 4);font-family: cursive;">Make Reservation</h1>
    
                </center>
                <input type="text" placeholder="Name" class="form-control mt-3 ">
                <input type="email" placeholder="Email" class="form-control mt-3">
                <input type="number" placeholder="Number" class="form-control mt-3">
                <input type="date"  class="form-control mt-3">
                <input type="time" placeholder="time" class="form-control mt-3">
                <center>         
                       <a href=""  data-bs-toggle="modal" data-bs-target="#buy" class="btn btn-warning mt-4" >Book Now</a>
                </center>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
    
    </div>
    </div>

<div>
    <div class="row">
        <div class="scroll-container">
            <img  src="https://3.imimg.com/data3/EW/TD/MY-2124352/birthday-party-organisers-500x500.jpg" style="height: 400px; object-fit: cover;" alt="Cinque Terre">
            <img src="https://deowgxgt4vwfe.cloudfront.net/uploads/1654522839_original.jpg" alt="Forest" style="height: 400px; object-fit: cover;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4SiDnpr7ytdOGU_7IJo9bN5HEo7RqBUiH2ZlKKONimR78Ev9phDOCCwm3FsmX7SNy5oI&usqp=CAU" style="height: 400px; object-fit: cover;" alt="Northern Lights">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYQ4Ld2LNPShOJF18LjuL0VJYA3avN6D91hA&usqp=CAU" alt="Mountains" style="height: 400px; object-fit: cover;">
        </div>
        

    </div>
</div>





{% endblock %}